.team-menu{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	border: none;
	margin-top: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-menu__photo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.team-menu__photo--hover:hover .team-menu__picture{
	-webkit-box-shadow: 10px 10px #95e1d3;
	        box-shadow: 10px 10px #95e1d3;
	-webkit-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
	-webkit-transition-timing-function: linear;
	     -o-transition-timing-function: linear;
					transition-timing-function: linear;
          transform: translate(-10px, -10px);

}

.team-menu__background{
	background: -webkit-gradient( linear, left bottom, left top, from(rgb(252,227,138,0)), to(rgb(243,129,129,0)));
	background: -o-linear-gradient( bottom, rgb(252,227,138,0) 0%, rgb(243,129,129,0) 100%);
	background: linear-gradient( to top, rgb(252,227,138,0) 0%, rgb(243,129,129,0) 100%);
	
	width: 380px;
	height: 470px;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.team-menu__photo--hover:hover .team-menu__background{
	background: -webkit-gradient( linear, left bottom, left top, from(rgb(252,227,138,0.9)), to(rgb(243,129,129,0.9)));
	background: -o-linear-gradient( bottom, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%);
	background: linear-gradient( to top, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%);
	-webkit-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
	-webkit-transition-timing-function:linear;
	     -o-transition-timing-function:linear;
					transition-timing-function:linear;
					transform: translate(-10px, -10px);			
				
}

.team-menu__photo--hover:hover .society__item{
opacity: 1;
-webkit-transition-duration: 200ms;
     -o-transition-duration: 200ms;
        transition-duration: 200ms;
-webkit-transition-timing-function: linear;
     -o-transition-timing-function: linear;
        transition-timing-function: linear;

}
.team-menu__name{
	margin-top: 31px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #333333;
	text-align: center;
}
.team-menu__job{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	color: #999999;
	text-align: center;
}