



.box{
	background: no-repeat url(https://i.ibb.co/9chYZZY/back.jpg);
	width: 100%;
	height: 1000px;
	background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 40),(-o-min-device-pixel-ratio: 40/1),(min-resolution: 3840dpi),(-webkit-min-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-resolution: 2dppx){
	.box{
		background: no-repeat url(https://i.ibb.co/9cS7tdc/back-2x.jpg);
		height: 1000px;
		background-size: cover;
		width: 100%;
	}
}
.box__back{
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(252,227,138,0.9)), to(rgb(243,129,129,0.9)));

	background: -o-linear-gradient(bottom, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%);

	background: linear-gradient(to top, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%);
	height: 1000px;
	
}
